@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
$font-stack: 'Open Sans', sans-serif;
$normal-stack: Helvetica, sans-serif;

@mixin standard-transition {
  transition: .3s linear;
  -webkit-transition: .3s linear;
  -ms-transition: .3s linear;
}

html, body {
  font-family: $font-stack;
  color: #333333;
  background-color: #FFFFFF;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

#root, #root > div {
  min-height: 100%;
  position: relative;
}

.dc-text {
  &-title {
    font-weight: 600;
    font-size: 36px
  }

  &-sub-title{
    font-size: 24px
  }

  &-section-text {
    font-size: 18px
  }

  &-transition {
    margin-top: 34px;
    font-size: 24px;
    text-align: center;
    color: white;
  }
}

.dc-header {
  background-color: #FF4949;
  height: 60px;
}

.dc-ending {
  background-color: #FF4949;
  padding-left: 15px;
  padding-top: 15px;
  color: #FFFFFF;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;

  &-link {
    border-radius: 1px;
    padding: 5px;
    color: #FFFFFF;
    cursor: pointer;
    @include standard-transition;
    &:hover {
      background-color: #FFFFFF;
      color: #FF4949;
    }
  }

  &-spacing {
    padding-bottom: 200px;
  }
}

.dc-transition {
  margin-top: 150px;
  margin-bottom: 100px;
  background-color: #FF4949;
  height: 100px;
}

.dc-intro {
  margin-top: 200px;
}

.dc-about {

  &-item-date {
    font-weight: 600;
    text-align: center;
  }

  &-item-title {
    font-style: italic;
    text-align: center;
  }

  &-item-description {

  }
}

.dc-logo {
  border-radius: 1px;
  padding-top: 5px;
  text-align: center;
  background-color: #FF4949;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 1px;
  @include standard-transition;
  &:hover {
    cursor: pointer;
    color: #FF4949;
    background-color: #FFFFFF;
  }
}

.dc-img {

  &-me {
    height: 200px;
    display: block;
    margin: 0 auto;
  }

  &-about {
    height: 150px;
    display: block;
    margin: 0 auto;
  }

  &-life {
    height: 200px;
    display: block;
    margin: 0 auto;
  }
}

.dc-horizontal-rule {
  margin-top: 10px;
  margin-bottom: 10px;
  content: '';
  height: 1.4px;
  min-width: 10px;
  background-color: black;
}

.dc-contact {
  &-icons {
    height: 20px;
    margin-right: 5px;
  }
  &-spacing {
    margin-left: 15px;
  }
}
