$font-stack: 'Open Sans';

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #FFFFFF;
  max-width: 100%;
  overflow-x: hidden;
}

.dc-text {
  &-title {
    font-weight: 600;
    font-size: 36px
  }

  &-sub-title{
    font-size: 24px
  }

  &-banner {
    margin-top: 34px;
    font-size: 24px;
    text-align: center;
    color: white;
  }
}

.dc-header {
  background: #808080;
  height: 60px;
}

.dc-intro {
  margin-top: 200px;
}

.dc-about-header {
  margin-top: 200px;
  background: #FF4949;
  height: 100px;
}

.dc-logo {
  padding-top: 5px;
  text-align: center;
  background: #FF4949;
  color: white;
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 1px;
  &:hover {
    cursor: pointer
  }
}

.dc-me-img {
  height: 200px;
  font-weight: bold;
}

.dc-horizontal-rule {
  margin-top: 10px;
  margin-bottom: 10px;
  content: '';
  height: 1.4px;
  min-width: 10px;
  background-color: black;
}
